@import url('styles.css');
@import url('media.css');

body {
	margin: 0 auto;
	font-family: "Raleway", sans-serif;
	font-size: 14px;
	background-color: #242b33;
	color: #fff;
	-webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

p {
	margin: 0;
}

.container {
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
}

.number {
	position: absolute;
	font-family: "Playfair Display";
	font-weight: 700;
	font-size: 400px;
	line-height: 1;
	text-align: center;
	opacity: 0.02;
}